<!DOCTYPE html>
<html>
  <head>
    <title>Letter Form</title>
  </head>
  <body>
    <div class="container">
      hi
      <h1>Fill in your name and your friend's name to create your custom greeting!</h1>
      <form action="/post_page" method="post">
        <div class="form-group">
          <label for="input">Your name</label>
          <input id="sender" name="sender" class="form-control" type="text">
        </div>
        <button type="submit" class="btn">Go!</button>
      </form>
    </div>
  </body>
</html>
